* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 200;
}

body {
  background-color: #ffc600;
}

.search-form {
  max-width: 500px;
  margin: 50px auto;
}

input.search {
  width: 100%;
  padding: 25px 100px;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border: 10px solid #e0e0e0;
  border-radius: 5px;
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.suggestions li {
  list-style-type: none;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding: 15px 10px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

.suggestions .highlight {
  background-color: #ffc600;
}

.suggestions .postal-code {
  font-weight: bold;
}
