*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #FFFFF0;
  background-image: url('road-3419236_1920.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 30%;
  gap: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
  transform: scale(0.98);
  transition: all .5s;
  cursor: pointer;

  background-color: rgba(255, 255, 255, .15);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .5);
  padding: 50px 15px;
}
.container.active {
  transform: scale(1);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  background-color: rgba(255, 255, 255, .5);
}

.item {
  display: grid; /* these are for elements inside the item */
  grid-template-rows: min-content; 
  gap: 10px;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  border-radius: 2px;
  padding: 5px;
}

.item > img{
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snap-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 15px;  /* removing cantainer left padding */
}

.snap-inline > * {
  /* scroll-snap-align: start; */
}

.container::-webkit-scrollbar {
  width: 10px;
}
.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .8);
  border-radius: 10px;
}